@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 6, 44, 105;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --orange-red: 255, 86, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'kadoku';
  src: url('../fonts/Kadoku-YqEa8.otf'),
}

@font-face {
  font-family: 'mouldy-cheese';
  src: url('../fonts/MouldyCheeseRegular-WyMWG.ttf'),
}

body {
  color: rgb(var(--orange-red));
  background-color: rgb(var(--foreground-rgb));
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal {
  overflow: scroll;
}

.p-10 {
  padding: 10px;
}

.font-white {
  color: rgb(var(--white));
}

.font-orange-red {
  color: rgb(var(--orange-red))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table {
  border:1px solid rgb(var(--orange-red));
  td, th {
    border:1px solid rgb(var(--orange-red));
    padding: 5px;
  }
  font-size: 20px;
  text-align: center;
}

.chart-container {
  height: 300px;
  width: 600px;
  color: rgb(255, 86, 0)
}

.flex {
  display: flex; 
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.width-90 {
  width: 90%;
}

.width-20 {
  width: 20%;
}

.width-60 {
  width: 60%;
}

.ml-30 {
  margin-left: 30px;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.font-60 {
  font-size: 60px;
}

.normal-font {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.jc-space-around {
  justify-content: space-around;
}

.width-95 {
  width: 95%;
}

.border-radius-5 {
  border-radius: 5px;
}

.td {
  color: rgb(var(--white));
}

input {
  border-radius: 5px;
  font-size: 15px;
  color: rgb(var(--black));
  font-family:"Arial, Helvetica, sans-serif";
  padding-left: 10px;
  max-width: 50%;
}

.terms-of-use {
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  max-width: 500px;
  text-align: center;
  padding: 10px;
}

.terms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.max-w-40 {
  max-width: 40%;
}

label {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 600px;
}

.bottom-text {
  font-size: 15px;
}

.font-10 {
  font-size: 10px;
}

.reload-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid rgb(var(--orange-red));
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

.reload-container {
  margin-top: 45px;
  font-size: 20px;
}

.reload-icon {
  height: 32px;
  width: 32px;
}

/* Mobile settings */

@media screen and (max-width: 415px) {
  .welcome-title, .main-title {
    font-size: 30px;
  }
  label, .estimated-tax-brackets {
    font-size: 15px;
  }
  .modal-box {
    display: block;
    margin-left: 0px;
  }

  .font-white, table, .tax-bracket-container, .normal-font, .bottom-text {
    font-size: 12px;
  }

  .table-contents {
    max-width: 350px;
  }

  .mobile-flex-column {
    flex-direction: column;
  }

  .tax-explainer {
    max-width: 100%;
    padding-top: 10px;
  }

  .tax-bracket-container {
    padding-top: 10px;
  }

  .top-container {
    display: flex;
    flex-direction: column;
  }

  .normal-font {
    display: flex;
    justify-content: space-evenly;
  }

  .current-share-price {
    margin-top: 0px;
  }

  .slider {
    width: 300px;
  }

  .slider-button {
    width: 50%;
    justify-content: center;
  }

  .slider-container {
    align-items: center;
  }

  .chart-container {
    height: 200px;
    width: 350px;
  }

  .terms-of-use {
    margin: 20px;
  }

  .updated-price {
    width: 100%;
    justify-content: center;
  }

  .reload-container {
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }

  .reload-button {
    width: 45%;
  }

  .reload-icon {
    width: 15px;
    height: 15px;
  }

}