@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 6, 47, 150;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--white));
  background-color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table {
  border:1px solid #FF0000;
  td, th {
    border:1px solid #FF0000;
    padding: 20px;
  }
  margin-top: 50px;
}

.chart-container {
  height: 300px;
  width: 600px;
}

.flex {
  display: flex; 
}

.space-between {
  justify-content: space-between;
}